# EditorConfig is awesome: http://EditorConfig.org

root = true

[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

[*.{cs,vb}]
dotnet_diagnostic.CS8618.severity = none # nullable properties
csharp_preserve_single_line_statements = true # allow single line statements

[{*.yml,*.json}]
indent_size = 2
charset = utf-8
